.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
**/Generated.xcconfig
android/.gradle
/.gradle
/.idea
.vscode/
pubspec.lock
